$green: #525A1F;
$yellow: #C8BB66;
$brown: #BD9F7B;
$beige: #DFD3C5;
$cyan: #358282;
$red: #e60002;
$lightRed: #ec979c;
$borderGray: #646464;
$outlineGray: #b4b4b4;
$labelGray: #757575;

.bookCard {
  border-radius: 5px;
  width: 300px;
  height: 150px;
  display: grid;
  padding: 5px;
  margin: 10px;
  grid-template-areas:
    "name name name"
    "author annotation annotation"
    "publishing annotation annotation"
    "year . pages";
  grid-template-columns: 60px auto 90px;
  grid-template-rows: 27px 20px auto 20px;
  gap: 5px;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;

  &:hover {
    transform: scale(1.05);
  }
}

.want {
  border: 2px solid $brown;

  &:hover {
    box-shadow: 0 0 15px 5px $brown;
  }
}

.have {
  border: 2px solid $yellow;

  &:hover {
    box-shadow: 0 0 15px 5px $yellow;
  }
}

.read {
  border: 2px solid $green;

  &:hover {
    box-shadow: 0 0 15px 5px $green;
  }
}


p {
  font-size: 14px;
  margin: 0;
  word-wrap: break-word;
}

.name {
  font-size: 18px;
  width: 100%;
  margin: 5px 0;
  grid-area: name;
}

.author {
  margin: 0;
  grid-area: author;
}

.publishing {
  grid-area: publishing;
  margin: 0;
}

.publishingYear {
  grid-area: year;
  margin: 0;
}

.annotation {
  grid-area: annotation;
}

.pages_count {
  grid-area: pages;
  margin: 0;
}